.App {
  font-family: sans-serif;
  text-align: center;
}

.haveMargin {
  margin-top: 8px;
  margin-bottom: 8px;
}

.container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  width:  100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}